[Desktop Entry]
Categories=Science;Engineering;
Version=7.55
Comment=flow5 - Airfoil and plane analysis tool
Exec=/usr/local/bin/flow5
Icon=/usr/local/share/flow5/flow5.png
Name=flow5
Type=Application
Terminal=false
